/* Basic reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /*background: -webkit-linear-gradient(top left, #FAD7A1 0%, #E96D71 100%) no-repeat center center fixed;
    background: -moz-linear-gradient(top left, #FAD7A1 0%, #E96D71 100%) no-repeat center center fixed;
    background: -o-linear-gradient(top left, #FAD7A1 0%, #E96D71 100%) no-repeat center center fixed;
    background: linear-gradient(to bottom right, #FAD7A1 0%, #E96D71 100%) no-repeat center center fixed;
    background-size: cover;*/
    background-color: #c5c5c5;
}

#wrapper {
    width: 50%;
    margin: 0 auto;
    height: 100%;
    border: 2px solid red;
}

#contents {
    color: #000;
    background-color: #a4e0d4;
}

header>h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}


/* made flex container */

div.tabs ul {
    display: flex;
    display: -webkit-flex;
    /*justify-content: space-around;*/
    /*align-items: center;*/
    margin-top: 20px;
    height: 3em;
}


/* flex items */


/* also flex container */

.tabs li {
    list-style: none;
    font-size: 21px;
    display: flex;
    display: -webkit-flex;
    /* allows items to strech evenly */
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    align-self: stretch;
    text-align: center;
    border-right: 2px solid grey;
    color: #fff;
    background-color: #37a08b
}

li.active {
    color: #000;
    background-color: #a4e0d4;
}


/*
Search styles
*/

form {
    position: relative;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

i.fa-search {
    position: relative;
    font-size: 14px;
    right: 29px;
    transition: all 0.5s;
}

#search-bar {
    padding: 5px 16px;
    padding-left: 5px;
    width: 50%;
}


/*
Streamers
*/

.stream-link {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    width: 97%;
    margin: 0 auto;
}

section.streams-container {
    width: 100%;
    padding-bottom: 15px;
}

div.stream {
    display: flex;
    position: relative;
    /*width: 97%;*/
    /*margin: 0 auto;*/
    min-height: 150px;
    max-height: 200px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 3px 8px 0.2px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 3px 8px 0.2px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 3px 8px 0.2px rgba(0, 0, 0, 0.52);
}

a.stream-link:first-of-type {
    margin-top: 50px;
}


/* selects all direct decendants of the element */

.stream>* {
    background-color: #fefefe;
    padding: 10px;
}

.streamer-img {
    flex: 1 3 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*border-right: 10px solid rgba(0,0,0,0);*/
}

.streamer-img img {
    height: 79%;
    border-radius: 100%;
    border: red 4px solid;
}

.stream-info {
    flex: 2 1 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stream-info h4 {
    /*width: 100%;*/
    text-align: center;
    font-size: 30px;
    /*font-size: 5vw;*/
}

.now-playing,
.followers,
.viewer-numbers,
.total-views {
    font-size: 18px;
    font-weight: 700;
}

.stream-info span {
    font-weight: normal;
}

/* online indicator */
.offline::after{
    content: "Offline";
    display: flex;
    position: absolute;
    width: 200px;
    height: 24px;
    background-color: tomato;
    transform: rotate(90deg);
    right: -88px;
    top: 88px;
    font-size: 21px;
    justify-content: center;
}

.online::after{
    content: "Online";
    display: flex;
    position: absolute;
    width: 200px;
    height: 24px;
    background-color: greenyellow;
    transform: rotate(90deg);
    right: -88px;
    top: 88px;
    font-size: 21px;
    justify-content: center;
}


@keyframes pulse{
    0% {
        transform: scaleX(1);
        /*transform: scaleY(1);        */
    }
    100% {
        transform: scaleX(1.2);
        /*transform: scaleY(1.5);*/
        
    }
}

@media screen and (max-width: 980px) {
    #wrapper {
        width: 80%;
    }
    .stream-info h4 {
        font-size: 25px;
    }
    #search-bar {
        padding: 10px 16px;
        padding-left: 5px;
        font-size: 18px;
    }
    .now-playing,
    .followers,
    .viewer-numbers,
    .total-views {
        font-size: 16px;
    }
}

@media screen and (max-width: 580px) {
    #wrapper {
        width: 100%;
    }
    .stream-info h4 {
        font-size: 20px;
    }
    .streamer-img {
        max-width: 40%;
    }
    .streamer-img img {
        max-height: 60%;
    }
    #search-bar {
        width: 100%;
    }
    i.fa-search{
        position: absolute;
        right: 13px;
        top: 17px;
    }
    .now-playing,
    .followers,
    .viewer-numbers,
    .total-views {
        font-size: 14px;
    }
}